<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="AWSDatabaseDaveLHome" connectionString="Data Source=DESKTOP-6J6E6D1\SQLEXPRESS;Initial Catalog=AWSManagerLiveV5;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;" providerName="System.Data.SqlClient" />
    <add name="AASInventoryManagementDaveLHome" connectionString="Data Source=DESKTOP-6J6E6D1\SQLEXPRESS;Initial Catalog=AASInventoryManagement;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;" providerName="System.Data.ProviderName" />
  </connectionStrings>

</configuration>